name: ci
on:
  push:
  pull_request:

jobs:
  build-test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Build
        run: cargo build --workspace --release
      - name: Test
        run: cargo test --workspace
      - name: Archive
        uses: actions/upload-artifact@v4
        with:
          name: plus-${{ matrix.os }}
          path: |
            target/release/plus-desktop*
